<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.SpringLibrary.repository.DepartmentsMyBatisRepo">

    <select id ="findAll" resultType="Departments">
        SELECT
        d.department_id,
        d.departmentName,
        d.createdAtd,
        d.updatedAtd
        FROM abb_management.departments d;
    </select>

    <select id="findByDepartmentId" resultType="Departments">
        SELECT <include refid="DepartmentBaseColumn"></include>
        FROM abb_management.departments d
        <where>
            d.department_id=#{departmentId};
        </where>
    </select>

    <insert id="insert">
        insert into Departments(
        departmentName,
        createdAtd,
        updatedAtd
        )
        values(
        #{departmentName},
        #{createdAtd},
        #{updatedAtd}
        );
    </insert>

    <update id="update">
        update abb_management.departments d
        set d.departmentName=#{departmentName},
        d.createdAtd=#{createdAtd},
        d.updatedAtd=#{updatedAtd}
        where d.department_id=#{departmentId};
    </update>


    <delete id="delete">
        DELETE
        FROM abb_management.departments d
        <where>
            d.department_id=#{departmentId};
        </where>
    </delete>


    <sql id="DepartmentBaseColumn">
        d.department_id,
        d.departmentName,
        d.createdAtd,
        d.updatedAtd
    </sql>
</mapper>